<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body class="index-page">
    <% include navbar %>
    <nav class="navbar navbar-default navbar-expand-lg navbar-dark">
        <div class="navbar-header d-flex col">
            <a class="navbar-brand" href="#">Dome<b>stico</b></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggle ml-auto">
                <span class="navbar-toggle-icon"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-right">
            <ul class="navbar navbar-nav">
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#"><i class="fa fa-user-o"></i>Login</a>
                        <ul class="dropdown-menu">

                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</body>
</html>