<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include header %>
  </head>
  <body>
    <% include navbar %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Owed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <%results.forEach((roommate)=>{%>
            <td><%roommate.firstName%></td>
            <td><%roommate.lastName%><Otto></td>
            <td><%roommate.avgPrice%></td>
            <%})%>
        </tbody>
      </table>
  </body>
</html>
