<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <% include header %>
    <style>
      body {
        background-color: lightgreen !important;
      }
      .overviewTitle {
        text-align: center;
      }

      table {
          border: .1em solid black;
      }
      #infoButtons {
      margin: auto;
      text-align: center;
      margin-bottom: 1em;
      }
      #roomateButton {
      margin: auto;
      text-align: center;
      margin-bottom: 1em;
      }
      #expenseButton {
      margin: auto;
      text-align: center;
      margin-bottom: 1em;
      }
      #paymentButton {
      margin: auto;
      text-align: center;
      margin-bottom: 1em;
      }
    </style>
  </head>
  <body>
    <% include navbar %>

    <div class="container">
        <h2 class=overviewTitle>Overview of Your Household</h2>            
        <table class="table table-striped">
          <thead>
            <tr id="table-headers">
              <th>Name</th>
              <th>Owes</th>
            </tr>
          </thead>
          <tbody>
              <%results.forEach((roommate)=>{%>
            <tr>
                <td><%=roommate.firstName%></td>
                <td>$<%=(roommate.avgPrice).toFixed(2)%></td>
                <%})%>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container" id= "infoButtons">
        <div class="row">
            <div class="col-sm-4">
                <a href="/setup" ><button class="btn btn-primary" id="roomateButton">Add Roommates</button></a>
            </div>
            <div class="col-sm-4">
                <a href="/expenses" ><button class="btn btn-primary" id="expenseButton">Add Expenses</button></a>
            </div>
            <div class="col-sm-4">
                <a href="/payments"><button  class="btn btn-primary" id="paymentButton">Add Payments</button></a>
            </div>
          </div>
        </div>
  </body>
</html>
