<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include header %>
  </head>
  <style>
      body {
          margin: auto;
          text-align: center;
      }
      .paymentForm {
          /* border: .2em solid black; */
          margin-bottom: 1em;
      }
      .setUpHeader {
          /* border-bottom: .1em solid black; */
      }
      .formDate {
        text-align: left;
        margin-bottom: 1em;
      }
      .formAmount {
        text-align: center;
        margin-bottom: 1em;
      }
      .roomateDropdown {
        margin-bottom: 1em;
      }
      .addPaymentButton {
        margin-bottom: 1em;
      }
  </style>
  <body>
        <% include navbar %>
    <div>
        <h4>Add payments from roommates here.
        Select which roommate from the drop down and the amount paid.
        Click "Home" when finished to return to your homepage.</h4>
    </div>

    <div class="container">
        <div class ="paymentForm">
        <form action="/addPayment" method="post">
            <div class="col-12">
                <h1 class="setUpHeader">Add Payments</h1>
            </div>
            <div class="roomateDropdown">
                <select name="hid">
                    <%results.forEach((roommate)=>{%>
                        <option value= "<%= roommate.id%>">
                            <%= roommate.firstName%>
                        </option>
                            <%})%>  
                </select>
            </div>
            <div class="col-12">
                <input class="formAmount" placeholder="AMOUNT" name="amount" />
            </div>
            <div class ="col-12">
                <input class="formDate" type="date" placeholder="Date" name="date" />      
            </div>
            <div class="addPaymentButton">
                <button class="btn btn-success register">Add Payment</button>  
            </div>
        </form>
    </div>
    <a href="/infoPage"><button class=" btn btn-primary">Home</button></a>
  </body>
</html>

