

.aboutParagraph{
  /* margin: auto; */
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%
}
body {
  margin: auto;
  background-color: lightgreen !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  margin: auto;
  text-align: center;
}

.about {
  width: 80%;
  margin: auto;
  text-align: auto;
  padding: 2.5em;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid rgba(0, 175, 0, 0.83);
  
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-box #login-form #register-link {
  margin-top: -85px;
}

.table{
  margin:auto;
  text-align: center;
}

.tableRow{
  margin: auto;
  text-align: center
}

.tbody{
  margin: auto;
  text-align: center
}
.form-signUp {
  margin:auto;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.containerregister-form{
  margin-top:5%;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%

}

#infobutton{
  margin: auto;
  text-align: center
}