

body {
  margin: auto;
  /* padding: 0; */
  /* height: 100vh; */
  background-color: lightgreen !important;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: lightgreen !important;
>>>>>>> 933cecb06c8cbb08dbcd89b3756a90d590d0395e
>>>>>>> 8290fa8730b883f73e65b4f3d1636f412bdaffc4
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* 
.container {
  margin: auto;
  text-align: center;
} */

.about {
  width: 80%;
  margin: auto;
  text-align: auto;
  padding: 2.5em;
}
/* #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid lightgreen;
  background-color: lightgreen !important;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-box #login-form #register-link {
  margin-top: -85px;
} */

/* 
.table{
  margin:auto;
  text-align: center;
}

.tableRow{
  margin: auto;
  text-align: center
}

.tbody{
  margin: auto;
  text-align: center
} */